footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-logo {
    flex: 1;
    min-width: 200px;
}

.footer-logo h2 {
    margin: 0;
}

.footer-links,
.footer-contact,
.footer-social {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-links h3,
.footer-contact h3,
.footer-social h3 {
    margin-bottom: 10px;
}

.footer-links ul,
.footer-social ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li,
.footer-social li {
    margin: 5px 0;
}

.footer-links a,
.footer-social a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
    color: #007bff; /* Change color on hover */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.footerSocial{
    gap: 18px;
}
.footerSocial li img{
    height: 33px;
    width: 33px;
}
.footerSocial li img:hover{
    height: 33px;
    width: 33px;
    transform: scale(1.2);
}
#links{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
#links li a:hover{
    text-decoration: underline;
}